.headerpic {
  max-width: 5em;
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 5%
}

.book-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
 max-width: 30em;
 height: auto;
}

.book-image {
  max-width: 10em;
  height: auto;
}

.author-image {
  max-width: 10em;
  height: auto;
}
